<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../../static/myapp/CSS/login.css">
</head>

<body>
    {% if msg is True %}
        <p id="confirm" style="display: none;">true</p>
    {% else %}
        <p id="confirm" style="display: none;">false</p>
    {% endif %}

    <div id="login"><a id="login-a" disabled="true"  href="javascript:;">Login</a></div>
    <div id="invalid">Invalid username or password<br>Please try again</div>

    <form action="{% url 'myapp:user_login' %}" method="post" id="loginForm">
        {% csrf_token %}
        <div id="uname" class="Lform"> Username:<br><input type="input" name="username" required></div>
        <div id="pwd" class="Lform"> Password:<br><input type="password" name="password" required></div>
        <div id="submit" class="Lform"><input type="submit" value="OK" id="subtn" name="submit1"></div>

    </form>
</body>
<script src="../../static/myapp/js/jquery-1.10.1.js"></script>
<script>
    $('#loginForm').fadeIn(1000);
    var $con = $('#confirm').html();
    console.log($con)
    console.log($con == 'true')
    if($con == 'true'){
        $('#invalid').fadeIn(1000);
    }
    $('input').click(function () {
        $('#invalid').fadeOut(1000);
    });
</script>
</html>