*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    overflow: hidden;
  }
#login a{
    position: absolute;
    /* left: 366px;  */
    left: 1068px;
    top: 80px;
    color: pink;
    font-size: 70px;
    font-weight: 900;
    margin-top: -0px;
    margin-left: -400px;
    /* width: 800px; */
    display: block;
    pointer-events:none;
    z-index: 10;
}
#loginForm{
    width: 600px;
    height: 700px;
    border: 2px solid white;
    position: absolute;
    text-align: center;
	left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 20px;
    display: none;
}
.Lform{
    position: relative;
    top: 25%;
    color: tomato;
    font-weight: 900;
    margin-top: 40px;
}
input{
    outline-style: none ;
    background-color: black;
    color: white;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #ccc;
    border-radius: 60px;
    padding: 14px 14px;
    width: 400px;
    font-size: 24px;
    text-align: center;
}
#subtn{
    width: 100px;
    height: 60px;
    border: 2px solid white;
    color: tomato;
    margin-top: 50px;
    border-radius: 30px;
    font-weight: 800;
    font-size: 20px;

}
a:hover{
    color: rgb(128, 128, 128)!important;
    font-size: 110px!important;
    text-shadow: 5px 5px 0 rgb(36, 182, 162), 5px 5px 0 #000!important;
}
a:link{
    text-decoration:none;
}
a:active{
    color: rgb(68, 67, 67)!important;
    font-size: 90px!important;
}
#invalid{
    position: absolute;
    text-align: center;
	left: 50%;
    top: 28%;
    transform: translate(-50%,-50%);
    color: lightblue;
    font-size: 15px;
    font-weight: 900;
    display: none;
}