<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/myapp/CSS/home.css">
    <title>Login and Register</title>
</head>
<body>

    <div id="wrapper" style="margin-top: -196px">
        <div id="content">
         <div class="item" style="color: darkseagreen; display: block">Focus</div>
         <div class="item" style="display: block">On</div>
         <div class="item" style="color: cornflowerblue; display: block">Your</div>
         <div class="item" style="display: block">Health.</div>
        </div>
    </div>
    <div id="start" style="display: block">Start NOW!</div>
    <div id="login" ><a style="display: block" id="login-a" href="javascript:;">Login</a></div>
    <div id="register"><a  style="display: block; left: 1065.2px" id="register-a" href="javascript:;">Register</a></div>

    <div id="bgContainer">
        <video id="bg" autoplay muted loop>
            <source src="../../static/myapp/img/5s.mp4">
            <embed src="../../static/myapp/img/5s.mp4" type="video/mp4">
        </video>
    </div>


</body>
<script src="../../static/myapp/js/jquery-1.10.1.js"></script>
<script src="../../static/myapp/js/home01.js"></script>
</html>