<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../../static/myapp/CSS/login.css">
</head>

<body>
    <div id="login"><a id="login-a" disabled="true"  href="javascript:;">Login</a></div>

    <form action="{% url 'myapp:user_login' %}" method="post" id="loginForm">
        {% csrf_token %}
        <div id="uname" class="Lform"> Username:<br><input type="input" name="username" required></div>
        <div id="pwd" class="Lform"> Password:<br><input type="password" name="password" required></div>
        <div id="submit" class="Lform"><input type="submit" value="OK" id="subtn" name="submit1"></div>

    </form>
</body>
<script src="../../static/myapp/js/jquery-1.10.1.js"></script>
<script>
    $('#loginForm').fadeIn(1000);
</script>
</html>